/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204)
}
h1{
	text-align:center;
}
.songBox{
	width:80%;
	border:1px solid black;
	border-radius:10px;
	background-color:white;
	margin: auto;
}
li{
	list-style-type:none;
}
a{
	text-decoration-line:none;
	color:black;
}
h2{
	text-align:center;
}
.player_one{
	background-color:rgb(255, 255, 255);
	padding:10px;
	box-sizing: border-box;
}

.player_two{
	background-color:rgb(255, 255, 255);
	padding:10px;
}